body {
    margin: 0;
    background: #005F61;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas: 
      "header"
      "intro"
      "vault"
      "search"
      "footer";
}

.vault-wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas: 
      "header"
      "intro"
      "vault"
      "search"
      "footer";
}

.search-wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas: 
      "header"
      "intro"
      "vault"
      "search"
      "footer";
}

.header {
    grid-area: header;
    text-align: center;
    background: url(images/Untitled\ design.png);
    background-size: cover;
    width: 100%;
}

.vault-header {
    grid-area: header;
    text-align: center;
    background: url(images/Untitled\ design.png);
    background-size: cover;
    width: 100%;
}

.search-header {
    grid-area: header;
    text-align: center;
    background: url(images/Untitled\ design.png);
    background-size: cover;
    width: 100%;
}

.header h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3em;
}

.vault-header h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3em;
}

.search-header h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3em;
}

.intro {
    grid-area: intro;
    text-align: center;
    background: #005F61;
}

.intro p {
    color: #FFFFFF;
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-left: 20px;
    margin-right: 20px;
}

.vault {
    grid-area: vault;
    height: 27em;
    width: 20em;
    background-color: #5F259F;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px #8B634B;
    margin: auto;
    text-align: center;
}

.search {
    grid-area: search;
    height: 27em;
    width: 20em;
    background-color: #5F259F;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px #8B634B;
    margin: auto;
    text-align: center;
}

.footer {
    grid-area: footer;
    text-align: center;
    background-color: #000000;
    height: 2.8em;
}

.vault-footer {
    grid-area: footer;
    text-align: center;
    background-color: #000000;
    height: 2.8em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.search-footer {
    grid-area: footer;
    text-align: center;
    background-color: #000000;
    height: 2.8em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer, .vault-footer, .search-footer p {
    font-family: 'Caveat', Arial, serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #FFFFFF;
    font-family: 'Luckiest Guy', Arial, serif;
    letter-spacing: 0.14em;
}

h2 {
    text-decoration: underline;
    color: #ffffff;
    font-family: 'Overlock', Arial, serif;
}

.randomh2 {
    text-align: center;
}

.randomimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
}

img {
    width: 100%;
    height: 20em;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 8px;
    color: #ffffff;
}
  
tr:nth-child(even) {
    background-color: #8B634B;
}

main input {
    font-size: 28px;
    margin-top: 50px;
    margin-left: 4em;
    margin-right: 4em;
    border-radius: 10px;
}

@media (min-width: 550px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
          "header header"
          "intro intro"
          "vault search"
          "footer footer";
    }

    .header h1 {
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 4em;
    }

    .intro p {
        font-size: 32px;
        margin-left: 50px;
        margin-right: 50px;
        letter-spacing: 2px;
    }

    .vault {
        margin-top: 70px;
        height: 38em;
        width: 35em;
    }

    .search {
        margin-top: 70px;
        height: 38em;
        width: 35em;
    }

    h2 {
        font-size: 3em;
    }

    img {
        width: 80%;
        height: 23em;
    }

    .footer {
        margin-top: 100px;
        height: 2.5em;
    }

    .footer p {
        font-size: 18px;
    }
}